body {
  font-family: "Lato", sans-serif
}

.mySlides {
  display: none
}

.navbar {
  color: #ffffff;
  background-color: #A7344F;
}

.grey {
  background-color: #EFEFEF;
}

#navbuttons {
  /* border-width: 4px; */
  /* border-color: black; */
  /* border-style: solid; */
  /* overflow: hidden; */
  position: relative;
  left: 33%;
  right: 33%;
}

.merch {
  border-width: 3px;
  border-color: #A7344F;
  border-style: solid;
}
